#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin-top: 30px;
}

/* "*" applies style to all child elements  */
.is-loading * {
  cursor: wait !important;
  /* !important overrides other styles */
}

ul {
  list-style-position: inside;
}